$color-buzone-primary: #fe0000;
$color-buzone-secondary: #FF6347;
$color-buzone-third: #1E90FF;
$color-buzone-gray: #dcdcdc;
$color-text-buzone-primary: #fe0000;
$color-text-buzone-secondary: #FF6347;
$color-text-buzone-third: #1E90FF;
$color-text-buzone-white: #fff;
$color-text-buzone-gray: #dcdcdc;